.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/xcode/xcuserdata/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.swiftpm/xcode/package.xcworkspace/xcuserdata/
.netrc
